<section>
  <p>Paises o departamentos.</p>

  <button routerLink="departments" [queryParams]="{ id: 10 }" class="btn btn-primary">
    Departamentos
  </button>

  <button (click)="queryParams()" class="btn btn-primary">Detalle país con Query Params </button>

  <div *ngIf="countries$ | async as countrie" class="contenedorIMG">
    <!-- <li *ngFor="let country of countrie">
      {{ country.name.common }}
    </li> -->

    <img *ngFor="let country of countrie" src={{country.flags.svg}} alt="Country"
     loading="lazy"/>
  </div>
  <!-- <button (click)="getCountries()">Paises</button> -->

  <!-- <img src="country.flags.svg" alt="Country" loading="lazy"/> -->
</section>
